@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url('/Módulo 3/Aula 19/imagens/wallpaper002.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;

}

main {
    background-color: white ;
    max-width: 420px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;

}