@charset "UTF-8";


body {
    background-image: url(https://img.freepik.com/fotos-gratis/ilustracao-legal-com-formas-geometricas-e-luzes-de-laser-de-neon-perfeita-para-papeis-de-parede_181624-34458.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: right top;
    height: 98.4vh;
}